.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Link{
    text-decoration: none;
    color: white;
}
  
.card-footer {
   text-align: center;
}

.description {
    max-height: 4.5em; /* Sesuaikan tinggi yang diinginkan */
    overflow: hidden;
    text-overflow: ellipsis;
}

.title{
    max-height: 2.5em; /* Sesuaikan tinggi yang diinginkan */
    overflow: hidden;
    text-overflow: ellipsis;
}